@model IChirper.Controllers.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<link rel="stylesheet" type="text/css" href="~/css/Dropdown.css"/>

<h2 class = "lng-NewUserRegistration theme-page-text" style="margin-bottom: 16px">New User Registration</h2>

<form method="post" asp-controller="Account" asp-action="Register" class="theme-page-text">
    <div asp-validation-summary="ModelOnly"></div>
    
    <h3 class="theme-page-text">Add your photo:</h3>
    <div class="drop-zone col-4" style="margin-bottom: 12px">
        <span class="drop-zone__prompt lng-DropImage lng-DropImageCollection theme-page-text">Drop file here or click to upload</span>
        <input type="file" name="myFile" class="drop-zone__input" accept="image/*"/>
    </div>

    <div>
        <label asp-for="Email" class="lng-EnterEmailLogin"></label><br />
        <input asp-for="Email" class="form-control" placeholder="example@example.com"/>
        <span asp-validation-for="Email"></span>
    </div>
    <br/>
    <div>
        <label asp-for="FirstName" class="lng-FirstNameRegister"></label><br />
        <input asp-for="FirstName" class="form-control"/>
        <span asp-validation-for="FirstName"></span>
    </div>
    <br/>
    <div>
        <label asp-for="LastName" class="lng-LastNameRegister"></label><br />
        <input asp-for="LastName" class="form-control"/>
        <span asp-validation-for="LastName"></span>
    </div>
    <br/>
    <div>
        <label asp-for="NickName" class="lng-NickNameRegister"></label><br />
        <input asp-for="NickName" class="form-control"/>
        <span asp-validation-for="NickName"></span>
    </div>
    <br/>
    <div>
        <label asp-for="Age" class="lng-AgeRegister"></label><br />
        <input asp-for="Age" class="form-control" placeholder="33"/>
        <span asp-validation-for="Age"></span>
    </div>
    <br/>
    <div>
        <label asp-for="NickName" class="lng-NickNameRegister"></label><br />
        <input asp-for="Password" class="form-control" placeholder="********"/>
        <span asp-validation-for="Password"></span>
    </div>
    <br/>
    <div>
        <label asp-for="Age" class="lng-AgeRegister"></label><br />
        <input asp-for="PasswordConfirm" class="form-control" placeholder="********"/>
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <br/>
    
    <div>
        @Html.RadioButton("Role", "user", true)
        <span>user</span> <br />
        @Html.RadioButton("Role", "admin" )
        <span>admin</span> <br />
        @Html.RadioButton("Role", "super admin" )
        <span>moderator</span> <br />
    </div>

    <br/>
    <div class="form-group">
        <button type="submit" class="btn btn-outline-dark lng-RegisterButton">Register!</button>
    </div>
</form>

<script src="~/js/Shared/Dropdown.js"></script>